header{
    text-align: center;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
h1{
    color: #65B891;
}

/* 
B5FFE1
93E5AB
65B891
4E878C
00241B
*/